{include file="Public/header" /}
<script charset="utf-8" src="__ADMIN__/myeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__ADMIN__/myeditor/lang/zh_CN.js"></script>

<div class="layui-layout layui-layout-admin">
	{include file="Public/left" /}

	<div class="layui-body">
		<div class="layui-tab layui-tab-brief" lay-filter="tab">
			<ul class="layui-tab-title">
				<li class="layui-this"><a href="{:url('index')}">知识竞赛测评列表</a></li>
				<li><a href="{:url('add')}">知识竞赛测评添加</a></li>
			</ul>
			<fieldset class="layui-elem-field" style="margin-top: 20px">
				<legend>测评：{$matchInfo['title']}</legend>
				<div class="layui-field-box">
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show">
							<form action="" method="post" class="layui-form" lay-filter="content" id="edit">

								<input type="hidden" name="match_id" value="{$matchInfo['id']}">

								<div class="layui-form-item">
									<label class="layui-form-label">标题</label>
									<div class="layui-input-inline">
										<input type="text" name="title" value="" placeholder="请输入标题" class="layui-input">
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label">简介</label>
									<div class="layui-input-inline">
										<textarea name="desc"   placeholder="请输入简介" class="layui-textarea"></textarea>
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label">题目类型</label>
									<div class="layui-input-inline">
										<select name="src_type" lay-filter="src_type" id="src_type">
											<option value="1">选择题</option>
											<option value="2">问答题</option>
										</select>
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label">题目编号</label>
									<div class="layui-input-inline">
										<input type="number" name="number" value="" placeholder="请输入题目编号" class="layui-input">
									</div>
									<div class="layui-form-mid layui-word-aux">1开始 从小到大 不可重复</div>
								</div>

								<div class="layui-form-item " id="answer">
									<label class="layui-form-label">题目答案</label>
									<div class="layui-input-inline">
										<input type="number" name="answer"  placeholder="请输入题目答案" class="layui-input">
									</div>
									<div class="layui-form-mid layui-word-aux">数字 ABCD对应1234</div>
								</div>

								<div id="question_list">
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label"></label>
									<div class="layui-input-inline">
										<button type="button"  class="layui-btn" id="add-question">添加题目</button>
										<button type="button"  class="layui-btn layui-btn-danger" id="del-question">删除题目</button>
									</div>
								</div>

								<div class="layui-form-item" style="margin-top: 80px">
									<div class="layui-input-block">
										<button class="layui-btn" lay-submit>立即提交</button>
										<button type="reset" class="layui-btn layui-btn-primary">重置</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</fieldset>

		</div>
	</div>
	{include file="Public/footer" /}
</div>
<script>
	var selectHtmlStr = '<div class="layui-form-item">\n' +
			'<label class="layui-form-label">选项__SUFFiX__</label>\n' +
			'<div class="layui-input-inline">\n' +
			'<input type="text" name="title" value="" placeholder="请输入选项" class="layui-input">\n' +
			'</div></div>';

	var inputHtmlStr = '<div class="layui-form-item">\n' +
			'<label class="layui-form-label">填空</label>\n' +
			'<div class="layui-input-inline">\n' +
			'<input type="text" name="title" value="" placeholder="请输入填空" class="layui-input">\n' +
			'</div></div>';

	layui.use('form', function(){
		var form = layui.form;

		form.on('select(src_type)', function(data){
			$('#question_list').html('');

			var src_type = $('#src_type').val()

			if(src_type == 1) {
				$('#answer').val('').show();
			}else{
				$('#answer').val('').hide();
			}
		});

		$('#add-question').click(function(){

			var src_type = $('#src_type').val()

			if(src_type == 1) {
				var index = $('#question_list').find('.layui-form-item').length;
				var trans = String.fromCharCode(64 + parseInt(index+1));
				var new_htmlStr = selectHtmlStr.replace('__SUFFiX__', trans);
			}else{
				var new_htmlStr = inputHtmlStr;
			}

			$('#question_list').append(new_htmlStr);
		});

		$('#del-question').click(function(){
			$('#question_list > .layui-form-item').eq(-1).remove();
		});
	});
</script>
</body>
</html>
