<div class="layui-footer">
	<!-- 底部固定区域 -->
	&copy; <a href="../" target="_blank">成都水波纹科技有限公司 版权所有@2018-{$now_time}</a> - <a href="http://www.shuibowen.net"
		target="_blank">技术支持:成都水波纹科技有限公司 联系方式(微信)：15882066853 QQ:407915406</a>
</div>
<script type="text/javascript" src="__ADMIN__/layui/layui.all.js?v=v2.4.5"></script>
<script type="text/javascript" src="__ADMIN__/js/comm.js?v=v1.3.6"></script>
<script type="text/javascript" src="__ADMIN__/js/mylayui.js?v=v1.3.5"></script>

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->