<div class="layui-header">
    <div class="layui-logo">
        <a href="/" target="_blank" title="{:sys('sys_sitename')}后台管理系统">
            {:sys('sys_sitename')}后台管理
        </a>
    </div>

    <ul class="menu">
        <li class="menu-ico" title="显示或隐藏侧边栏"><i class="fa fa-bars" aria-hidden="true"></i></li>
    </ul>

    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layui-hide-xs" style="margin-right: 15px;">
             技术支持:联系电话:15882066853(微信)
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="layui-nav-item layui-hide-xs">
            您好，{$Think.session.admin_username}
        </li>


        <li class="layui-nav-item layui-hide-xs">
            <a href="javascript:;">
                <i class="fa fa-cog" aria-hidden="true"></i> 系统配置</a>
                <dl class="layui-nav-child">

                    {if condition="$Think.session.admin_role_auth_ids eq 0"}
                        <dd><a href="{:url('Settings/Index')}"><i class="fa fa-sliders" aria-hidden="true"></i>系统设置</a></dd>
                        <dd ><a href="{:url('Sort/Index')}"><i class="fa fa-bars" aria-hidden="true"></i>栏目管理</a></dd>
                        <dd ><a href="{:url('Role/Index')}"><i class="fa fa-hand-stop-o" aria-hidden="true"></i>系统角色</a></dd>
                        <dd ><a href="{:url('Manager/Index')}"><i class="fa fa-users" aria-hidden="true"></i>系统用户</a></dd>
                        <dd ><a href="{:url('Backup/Index')}"><i class="fa fa-database" aria-hidden="true"></i>数据备份</a></dd>
                        <dd ><a href="{:url('Logs/Index')}"><i class="fa fa-history" aria-hidden="true"></i>系统日志</a></dd>
                        <dd ><a href="{:url('Sort/Make')}"><i class="fa fa-database" aria-hidden="true"></i>更新缓存</a></dd>
                    {else/}
                        <if condition="in_array(9901,$qxid)"><dd><a href="{:url('Settings/Index')}"><i class="fa fa-sliders" aria-hidden="true"></i>系统设置</a></dd></if>
                        <if condition="in_array(9903,$qxid)"><dd><a href="{:url('Sort/Index')}"><i class="fa fa-bars" aria-hidden="true"></i>栏目管理</a></dd></if>
                        <if condition="in_array(9904,$qxid)"><dd><a href="{:url('Role/Index')}"><i class="fa fa-hand-stop-o" aria-hidden="true"></i>系统角色</a></dd></if>
                        <if condition="in_array(9905,$qxid)"><dd><a href="{:url('Manager/Index')}"><i class="fa fa-users" aria-hidden="true"></i>系统用户</a></dd></if>
                        <if condition="in_array(9907,$qxid)"><dd><a href="{:url('Backup/Index')}"><i class="fa fa-database" aria-hidden="true"></i>数据备份</a></dd></if>
                        <if condition="in_array(9906,$qxid)"><dd><a href="{:url('Logs/Index')}"><i class="fa fa-history" aria-hidden="true"></i>系统日志</a></dd></if>
                        <if condition="in_array(9908,$qxid)"><dd><a href="{:url('Sort/Make')}"><i class="fa fa-database" aria-hidden="true"></i>更新缓存</a></dd></if>
                    {/if}


                    {if condition="$Think.session.admin_id eq 99999999"}
                        <dd ><a href="{:url('Model/Index')}"><i class="fa fa-codepen" aria-hidden="true"></i>模型管理</a></dd>
                        <dd ><a href="{:url('Forms/Index')}"><i class="fa fa-database" aria-hidden="true"></i>表单管理</a></dd>
                    {/if}


                </dl>
        </li>


        <li class="layui-nav-item layui-hide-xs">
            <a href="javascript:;">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i> {$Think.session.admin_role_name}</a>
                <dl class="layui-nav-child">
                    <dd><a href="/" target="_blank"><i class="fa fa-home" aria-hidden="true"></i> 网站首页</a></dd>
                    <dd><a href="{:url('Manager/Person')}"><i class="fa fa-address-card-o" aria-hidden="true"></i> 密码修改</a></dd>
                    <dd><a href="{:url('Admin/Logout')}" onClick="return confirm('确定退出系统吗？\n退出后自动关闭窗口！');"><i class="fa fa-sign-out" aria-hidden="true"></i> 退出登陆</a></dd>
                </dl>
        </li>
    </ul>
</div>

<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域 -->
        <ul class="layui-nav layui-nav-tree" id="nav" lay-shrink="all">
            {volist name="adminAuthList" id="v1"}

            <li class="layui-nav-item nav-item {if($v1['is_active'])}layui-nav-itemed{/if}">
                <a class="" href="javascript:;"><i class="fa fa-globe" aria-hidden="true"></i>{$v1['catname']}</a>
                {volist name="v1['child']" id="v2"}

                    <dl class="layui-nav-child ">
                        <dd class="{if($v2['is_active'])}layui-nav-itemed{/if}">
                            {if($v2['child'])}
                                <a href="javascript:void(0)"><i class="fa fa-file-text-o" aria-hidden="true"></i>{$v2['catname']}</a>
                            {else/}
                                <a href="{:url($v2['sort_c'] . '/' . $v2['sort_a'])}"><i class="fa fa-file-text-o" aria-hidden="true"></i>{$v2['catname']}</a>
                            {/if}
                            {volist name="v2['child']" id="v3"}

                            <dl class="layui-nav-child">
                                <dd class="layui-nav-itemed">
                                    <a href="{:url($v3['sort_c'] . '/' . $v3['sort_a'])}"><i class="fa fa-file-text-o" aria-hidden="true"></i>{$v3['catname']}</a>
                                </dd>
                            </dl>
                            {/volist}

                        </dd>
                    </dl>
                {/volist}
            </li>
            {/volist}
        </ul>
    </div>
</div>