@charset "utf-8";
/* CSS Document */
body{font-family:"Microsoft Yahei",Arial Regular,宋体; font-size:14px; color:#333; background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,form,input,textarea,button,code,em,cite{padding:0; margin:0;}
img{border:0; max-width:100%;}
ol,ul,li{list-style:none;}
code,input,button,cite,textarea,select{font-family:"Microsoft Yahei";}
input,select,button,textarea{ font-size:14px; border:none; background: none;}
input{ outline:none;}
button{ cursor:pointer;}
i,em,cite{ font-style:normal;}
.clear:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.clear {display: inline-block;} /* Hides from IE-mac \*/
* html .clear {height: 1%;}
.clear{display: block;} /* End hide from IE-mac */
input[type="button"], input[type="submit"], input[type="reset"],input[type="text"] {-webkit-appearance: none; outline:medium;font-family:Microsoft YaHei;}
h1,h2,h3,h4,h5{font-weight:400;}
table{border-collapse:collapse;}
a:link,a:visited{color:#333;text-decoration:none}
a:active,a:hover{color:#009be1;text-decoration:none}

/*基本样式*/
.colorfff a:link,.colorfff a:visited{color:#fff;}
.colorfff a:active,.colorfff a:hover{color:#fff;}
.container-fluid{width: 100%; margin: auto; min-width: 1200px;}
.content{ width: 1200px; margin: auto;}
.elli{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.rd5{-moz-border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.rdhalf{-moz-border-radius:50%;-webkit-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;}
.rdwhole{-moz-border-radius: 100%;-webkit-border-radius:100%;-ms-border-radius:100%;-o-border-radius:100%;border-radius:  100%;} 
.fl{float: left;}
.fr{float: right;}

.top{width: 100%; float: left; background: #f4f4f4; height: 36px; line-height: 36px; color: #999; text-align: right;}
.top p{width: 100%; float: left;}
.topnav {width: 100%; float: left; border-bottom:1px solid #ebebeb; padding: 22px 0;}
.topnav h4{width: 550px; float: left; display: block;}
.topnav h4 img{width: 545px; height: 45px;}
.topnav ul{float: left; margin-left: 40px;}
.topnav li{float: left; font-size: 12px; color: #999; margin-left:25px;}
.topnav li img{width: 44px; height: 44px; float:left; vertical-align: middle; margin-right: 8px;}
.topnav li span {float: left; margin-top:6px;}
.topnav li span p{color: #666; font-weight: 700;}
.topmenu{width: 100%; float: left; margin-bottom: 18px;}
.topmenu li{float: left; font-size: 15px; font-weight: 700; margin-right: 70px; margin-top: 18px;}
.topmenu li.topmenunow a{color: #009be1;}
.topmenu span{float: right; width: 85px; background: url(images/con_yw.png) center no-repeat; height: 34px; line-height: 34px;color: #fff; text-indent:40px; font-size: 16px; margin-top:15px;}
.topmenu span a{color: #fff;}

.title{width: 100%; float: left; text-align: center; font-size: 30px; font-weight: 700; margin: 60px 0 30px 0;}
.title p{color: #999; font-weight: 400; font-size: 16px; line-height:30px;}
.indextit1{width: 100%; float: left;}
.indextit1 .tit1a{color: #999; width: 900px; margin:0 auto; text-align: center; line-height: 26px;}
.indextit1 h4{font-size: 20px;}
.indextit1 h4 img{vertical-align: middle; float: left; margin-right: 10px;}
.indextit1 h4 em{float: left; margin-top:3px;}
.indextit1box{width: 580px; margin-top: 25px;}
.indextit1bd{border:1px solid #ededed; width: 100%; float: left; box-sizing: border-box; margin-top: 14px;-moz-border-radius:15px;-webkit-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px;border-radius:15px;}
.indextit1bd ul{width: 100%; float: left; padding: 15px 27px; box-sizing: border-box;}
.indextit1bd li{float: left; margin: 10px; width: 240px; cursor: pointer;}
.indextit1bd li img{width: 240px; height: 145px;}

.indextit1bd dl{width: 100%;float: left;text-align: center; font-size: 16px; color: #999; line-height: 30px;}
.indextit1bd dt{width:25%; float: left; border-right:1px solid #ededed;box-sizing: border-box; padding: 54px 0;}
.indextit1bd dt:last-child,.indextit1bd dd:last-child{border: 0;}
.indextit1bd dd{width: 33.3%;float: left; border-right:1px solid #ededed;box-sizing: border-box; padding:54px 0;}

.indextit2bg{width: 100%; float: left; background: url(images/bg1.jpg) center top no-repeat; height: 665px; margin-top: 75px;}
.indextit2 {width: 100%; float: left;}
.indextit2 li{width: 280px; float: left; margin-right: 25px; background: #fff;-webkit-border-radius:20px 0 20px 0;border-radius:20px 0 20px 0;}
.indextit2 li:last-child{margin-right: 0;}
.indextit2 li img{width: 280px; height: 230px; vertical-align: bottom;-webkit-border-radius:20px 0 0 0;border-radius:20px 0 0 0;}
.indextit2 li h4{width: 244px; border-bottom:1px solid #eee; padding-bottom: 8px; font-size: 18px; line-height: 34px; margin:14px 0 0 18px;}
.indextit2 li h4 span{float: right;}
.indextit2 li h4 span img{width:70%; height:auto; float: right;-webkit-border-radius:0;border-radius:0;}
.indextit2 li p{width: 244px; float: left; line-height: 28px; height: 112px; overflow: hidden; color: #999; margin: 5px 0 20px 18px;}


.indextit3bg{width: 100%; float: left; background: #f0f2f3; margin-top: 70px; padding-bottom: 70px;}
.indextit3_l{width: 540px; float: left;}
.indextit3_r{width: 645px; float: right;}
.indextit3_r dl{width: 100%; float: left; margin-bottom:4px; padding: 20px 0 10px 0;}
.indextit3_r dl dt{width: 60px; float: left; margin-left: 20px; background: #fff;}
.indextit3_r dl dt h4{font-size: 20px; color: #fff; background: #0084d0; border:1px solid #74b7de; text-align: center; line-height:36px; box-sizing: border-box;}
.indextit3_r dl dt p{line-height:34px; color: #999; text-align: center;}
.indextit3_r dl dd{width: 510px; float: left; margin-left: 15px; margin-top: 10px;}
.indextit3_r dl dd h4,.indextit3_r dl dd p{color: #333; line-height: 26px; height: 26px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.indextit3_r dl dd p{color: #999;}
.indextit3_r dl:hover{background: #fff;}
.indextit3_r dl:hover dd h4{color: #0084d0;}

.fooder{background: #333333; width: 100%; float: left; color: #999; padding: 30px 0;}
.fooder .ftbd{float: left; border-right:1px solid #555; height:170px; padding: 30px 0;}
.fooder .flgo{float: left;}
.fooder .flgo img{margin-right: 50px;}
.fooder .fnav li{line-height: 32px; margin:0 70px;}
.fooder .fnav li a{color: #999;}
.fooder .fweixin{width: 166px;background: url(images/weixin_bg.png) center top no-repeat; text-align: center; margin:0 60px; float: left;}
.fooder .fweixin img{width: 116px; height: 116px; margin-top:18px;}
.fooder .fweixin p{line-height: 40px;}
.fooder .fcon{float: left; margin-left: 60px; padding: 30px 0; width: 260px;}
.fooder .fcon h5{color: #fff; font-weight: 700; font-size: 14px; margin-bottom:10px;}
.fooder .fcon p{color: #999;  width: 100%; float: left; line-height:24px;}
.fooder .fcon p img{vertical-align: middle;float: left; margin-bottom: 8px;}
.fooder .fcon p em{float: left; margin:3px 0 0 10px;font-size: 24px; font-weight: 700; color: #fff;}


.nybanner{width: 100%; float: left; height: 400px;}
.nybanner a{display: block;}
/*服务支持*/
.fwzctit1{width:92%; position: relative; background: #f8f9f9; height: 300px; margin-bottom: 80px;}
.fwzctit1 dt{width: 460px; float: left; margin-top: -20px;}
.fwzctit1 dt img{width:460px; height: 340px; float: left;}
.fwzctit1 dd{width: 730px; float: left;  margin-left: 10px; padding-top: 60px;}
.fwzctit1 dd h4{font-size: 24px; font-weight: 700; margin-left: 68px;}
.fwzctit1 dd h4 img{vertical-align: middle; margin-right: 10px;}
.fwzctit1 dd p{line-height: 24px; padding:20px 50px 20px 70px; color: #999;background: url(images/fw_bg.png) center  no-repeat; height: 96px; overflow: hidden;}
/*关于我们*/
.gywmtit1{width: 100%; float: left; margin: 80px 0;}
.gywmtit1 dt{float: left; width: 640px;}
.gywmtit1 dt h4{font-size: 28px; font-weight: 700; background: url(images/gywm_bg1.png) left top no-repeat; padding:32px 0 0 35px; box-sizing: border-box;}
.gywmtit1 dt h4 p{font-size: 14px;font-weight: 400; color: #999;}
.gywmtit1 dt span p{color: #999; line-height: 24px; margin-top: 20px;}
.gywmtit1 dd{width: 530px; float: right;}
.gywmtit1 dd img{width: 530px; height: 380px;}
.gywmtit2bg{width: 100%; float: left; background: url(images/gywm_bg4.jpg) center top no-repeat; height: 565px;}
.gywmtit2{width: 100%; float: left; background: url(images/gywm_bg2.png) center no-repeat; padding: 30px 0;}
.gywmtit2 dl{width: 100%; float: left;}
.gywmtit2 dt{width: 450px; float: left; text-align: right;}
.gywmtit2 dt h4,.gywmtit2 dd h4{font-size: 16px; font-weight: 700; line-height: 30px;}
.gywmtit2 dt p,.gywmtit2 dd p{color: #666; line-height: 24px;}
.gywmtit2 dd{width: 450px; float: right; text-align: left;}

.gywmtit3 ul{width:1180px; float: left; margin-left: 10px; margin-top: 10px;}
.gywmtit3 li{width: 374px; float: left; text-align: center; background:#fff; box-shadow: 0 0 10px #f2f2f2; padding: 15px 0; margin-right: 27px;}
.gywmtit3 li:last-child{margin-right: 0;}
.gywmtit3 li img{width: 344px; height: 240px;}
.gywmtit3 li h4{font-size: 18px; margin-top: 6px; line-height: 30px; height: 30px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.gywmtit4bg{width: 100%; float: left; background: url(images/gywm_bg5.jpg) center top no-repeat; height: 560px;}
.gywmtit4 ul{width: 100%; float: left; text-align: center;}
.gywmtit4 ul li{width: 192px; height:164px; display: inline-block; background: url(images/gywm_bg3.png) center no-repeat; box-shadow: 0 0 10px #f2f2f2;}
.gywmtit4 ul li img{margin-top: 48px; height: 45px;max-width: 120px;}
.gywmtit4 ul li h4{font-size: 18px; color: #999; padding-top:5px;}


/*合作品牌*/
.hzpptit{width: 100%; float: left; margin-top: 40px;}
.hzpptit_l{width: 840px; float: left;}
.hzpptit_r{width: 320px; float: right; margin-bottom: 60px;}
.hzpptit1{width: 100%; float: left; position: relative; margin-top: 45px;}
.hzpptit1 table{width: 100%; float: left; text-align: center;}
.hzpptit1 table td{width: 50%;padding: 30px 0 30px 0;}
.hzpptit1 table td p{font-size: 18px; color: #666; margin-top: 6px;}
.hzpptit1 table td:hover p{color: #009be1;}
.hzpptit1 span{position: absolute; left: 0; top:-45px;} 
.hzpptit1 span h4{background: url(images/hzpp_titbg.png) center no-repeat; height: 66px; line-height: 40px; color: #fff; font-size: 20px; font-weight: 700; text-indent:35px; width: 320px;}
.hzpptit2{width: 100%; float: left; border-bottom:1px solid #f2f2f2;}
.hzpptit2 h4{font-size: 34px; font-weight: 700; border-bottom:3px solid #009be1; display: inline-block; padding: 0 6px; padding-bottom: 10px;}
.hzpptit3 p{line-height: 26px; color: #666; margin-top: 34px; width: 100%; float: left;}
.hzpptit4{width: 100%; float: left; border-top:1px solid #e7e7e7; margin-top: 40px; margin-bottom: 70px; padding-top: 20px; color: #666;}
.hzpptit4 li{width: 100%; float: left; margin:7px 0;}
.hzpptit4 li em{width: 82px; height: 32px; line-height: 32px; background: url(images/page_bg.png) center no-repeat; display: block; float: left; text-align: center;}
.hzpptit4 li span{width: 550px; float: left; height: 32px; line-height: 32px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-left: 5px;}

/*联系我们*/
.lxwmtit1{width: 100%; float: left; text-align: center; margin-top: 50px;}
.lxwmtit1 li{ color: #999; text-align: center; line-height: 30px; display: inline-block; width: 22%;}
.lxwmtit1 li img{width: 76px; height: 70; margin-bottom: 6px;}
.lxwmtit1 li p em{font-size: 18px; color: #000;}
.lxwmtit2{width: 100%; float: left; margin:50px 0 100px 0; text-align: center;}

/*新闻中心*/
.newstit1{width: 100%; float: left;  border:1px solid #ebebeb; padding:10px 16px; box-sizing: border-box;}
.newstit1 dl{float: left; width: 100%; margin-top: 26px;}
.newstit1 dt{width: 120px; float: left;}
.newstit1 dt img{width: 120px; height: 80px; vertical-align:bottom;}
.newstit1 dd{float: left; width: 155px; margin-left: 10px; line-height: 24px; margin-top: 8px;}
.newstit1 dd h4{height: 48px; overflow: hidden;}
.newstit1 dd p{color: #999; line-height: 20px;}
.newstit1 ul{width: 100%; float: left; margin-top: 26px;}
.newstit1 li{border-bottom:1px solid #ededed; width: 100%; float: left; margin-bottom: 20px;}
.newstit1 li h4{width: 90%; float: left; background: url(images/news_li1.png) left center no-repeat; text-indent:14px; line-height: 34px; height: 34px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.newstit1 li p{color: #999;text-indent:14px; padding-bottom: 10px;}

.newstit2{width: 100%; float: left;}
.newstit2 dl{width: 100%; float: left;border-bottom:1px solid #ededed; margin-top: 30px; padding-bottom: 30px;}
.newstit2 dt{width:64px;float: left;background: #f2f2f2; text-align: center; color: #999; margin-left: 10px; margin-top: 20px;}
.newstit2 dt em{line-height: 46px; height: 46px;width: 100%; background: #009be1; color: #fff; display: block;font-size: 22px;}
.newstit2 dt p{line-height: 46px;}
.newstit2 dd{width: 735px; float: left; margin-left:14px;}
.newstit2 dd img{width: 215px; height:145px; float: left; margin-right: 14px;}
.newstit2 dd h4{width: 495px; float: left;line-height: 34px; height: 34px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size: 16px; margin-top: 10px;}
.newstit2 dd p{width: 495px; float: left;color: #999; line-height: 24px; height: 48px; overflow: hidden;}
.newstit2 dd .newstit2con{width: 495px; float: left; margin-top: 14px;}
.newstit2 dd .newstit2con  cite{float: left; color: #999; margin-right: 24px;}
.newstit2 dd .newstit2con img{width: 17px; height: 17px; float: left; margin-right: 3px;}
.newstit2 dd .newstit2con span{float: right;width: 50px; height: 22px; line-height: 22px; text-align: center; color: #fff; background: #cccccc; font-size: 12px;border-radius:5px;display: block;}
.newstit2 dd .newstit2con span a{color: #fff; border-radius:5px;}
.newstit2 dd .newstit2con span:hover{background: #009be1;}

.page{width: 100%; float: left; text-align: center; margin: 40px 0 60px 0;}
.page a{height:24px; display:inline-block; line-height:24px; 
text-align:center; padding:0 10px; border:1px solid #ddd;border-radius:5px; margin: 0 2px;}
.page a:link,.page a:visited{color:#666;}
.page a:active,.page a:hover,.page a.pagenow{color:#fff; background:#009be1;border:1px solid #009be1;}

.kailong{
    width:0;
    height:0;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-right:6px solid #999999;
    display:inline-block; 
    vertical-align: bottom;
    margin-top:6px;
}
.page a:hover .kailong{ border-right:6px solid #fff;}
.kailongr{
    width:0;
    height:0;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-left:6px solid #999999;
    display:inline-block; 
    vertical-align: bottom;
    margin-top:6px;
}
.page a:hover .kailongr{ border-left:6px solid #fff;}

h3.newstt1{font-size:30px; line-height:40px; text-align:center; color: #333;}
.newsms{line-height:30px; text-align:center; color:#999; padding:10px 0;  background:#f3f3f3; border:1px dotted #bfbfbf; display:block; width:66%; margin-left:17%; margin-top:20px;}
.newsms code{display:inline-block; padding:0 20px;}
.newsms code img{width:13px; height:13px; display:inline-block; vertical-align:middle; margin-right:5px; position:relative; top:-1px;}




#swiper1{ width:100%; margin:0 auto; height:600px;text-align: center;}
#swiper1 .swiper-slide{width:100%; height:600px;}
#swiper1 .swiper-slide a{display: block;}
#swiper1>.swiper-pagination{bottom:30px;}
#swiper1>.swiper-pagination .my-bullet{width:10px; height:10px; display:inline-block; margin:0 5px; cursor:pointer; background: #ccc; border-radius:100%;}
#swiper1>.swiper-pagination .my-bullet-active{width:10px; height:10px;background: #009be1;}

#swiper2{ width:100%; margin:0 auto; height:500px;}
#swiper2 .swiper-slide{width:100%; height:500px;}
#swiper2>.swiper-pagination{bottom:0;}
#swiper2>.swiper-pagination .my-bullet{width:10px; height:10px; display:inline-block; margin:0 5px; cursor:pointer; background: #e0e0e0; border-radius:100%;}
#swiper2>.swiper-pagination .my-bullet-active{width:10px; height:10px;background: #66b5e3;}
#swiper2 .swiper-slide li{width: 580px; float: left;box-shadow:0 0 10px #efefef; padding: 24px; box-sizing: border-box; background: #fff; margin:5px 10px 25px 10px}
#swiper2 .swiper-slide li img{width: 150px; height: 150px; float: left; border-radius: 100%;}
#swiper2 .swiper-slide li span{width: 340px; float: left; margin:20px 0 0 20px;}
#swiper2 .swiper-slide li span h4{font-size: 18px; float: left; margin-bottom: 6px; width: 100%;}
#swiper2 .swiper-slide li span p{width: 100%; float: left; color: #999; line-height: 25px; height: 50px; overflow: hidden; margin-bottom: 6px;}
#swiper2 .swiper-slide li span code{color: #0084ce;}

#swiper3{ width:100%; margin:0 auto; height:410px; position: relative;}
#swiper3 .swiper-slide{width:100%; height:410px;}
#swiper3 .swiper-slide img{width: 540px; height: 410px;}
#swiper3>.swiper-pagination{bottom:50px; left:180px;}
#swiper3>.swiper-pagination .my-bullet{width:10px; height:10px; display:inline-block; margin:0 5px; cursor:pointer; background: #e0e0e0; border-radius:100%;}
#swiper3>.swiper-pagination .my-bullet-active{width:10px; height:10px;background: #66b5e3;}
#swiper3 .swiper-slide span{width:480px; position: absolute; height: 85px; background:rgba(0,0,0,0.3); display: block; left:0; bottom:20px; float: left; margin-left: 35px; padding: 10px 20px; color: #fff; box-sizing: border-box; font-size: 20px;}
#swiper3 .swiper-slide span p{line-height: 30px; height: 60px; overflow: hidden;}


#swiper4{ width:100%; margin:0 auto; height:410px; position: relative;}
#swiper4 .swiper-slide{width:100%; height:410px;}
#swiper4>.swiper-pagination{bottom:50px;}
#swiper4>.swiper-pagination .my-bullet{width:10px; height:10px; display:inline-block; margin:0 5px; cursor:pointer; background: #cecece; border-radius:100%;}
#swiper4>.swiper-pagination .my-bullet-active{width:10px; height:10px;background: #70c7ee;}

/*弹窗*/
.photo-mask {position: fixed;z-index: 10;bottom: 0;top:0;left: 0;right: 0;background: rgba(0, 0, 0, 0.8);
filter: alpha(opacity=20);-moz-opacity: 0.8;opacity: 0.8;display: none;}
.photo-panel {position: absolute;display: none;clear: both;top: 0;left: 0;bottom: 0;right: 0;z-index: 10;}
.photo-panel .photo-div {width: 60%;height: auto;z-index: 11;margin: auto; position: fixed;left:20%; bottom:10%;}			
.photo-panel .photo-close {background:url(images/close1.png) left center no-repeat;width:20px;height: 20px;position: absolute;cursor: pointer; right:-30px; top:-10px;}					
.photo-panel .photo-img {width: 100%;float: left; height: 580px; background: #fff;border-radius: 10px; text-align: center;}
.photo-panel .photo-img img{max-height: 300px; max-width: 700px;}	
.photo-panel .photo-img h4{font-size: 30px; border-bottom: 1px solid #ebebeb; font-weight: 700; width:90%; display: inline-block; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}				
.photo-panel .photo-view-h {width: 700px;height:450px;text-align: center;vertical-align: middle;}
#p_text{font-size: 18px; color: #999; line-height: 40px;}	
.photo-panel .photo-left,.photo-panel .photo-right {width:38px;float: left;top:220px; cursor: pointer; position: absolute;}
.photo-panel .photo-left{left:50px;}
.photo-panel .photo-right{right:50px;}		
.photo-panel .arrow-prv {background:url(images/left.png) left center no-repeat;width: 38px;height: 64px;}		
.photo-panel .arrow-next {background:url(images/right.png) left center no-repeat;width: 38px;height: 64px;}			



/*控制菜单的按钮*/
.index_cy{width: 20px;height: 20px;background: url(images/close1.png) center no-repeat;position: fixed;right:30px;top: 50%;margin-top:92px;cursor: pointer;z-index: 99999999;}
.index_cy2{width: 20px;height: 20px;background: none;position: fixed;right:30px;top: 50%;margin-top: 94px;cursor: pointer;}	
/*自适应 当屏小于1050时隐藏*/
	@media screen and (max-width: 1050px) {
		.slide{display: none;}
		#btn{display: none;}
	}
	/*右侧悬浮菜单*/
.pfu{width: 74px; position: fixed; z-index: 99999;top: 38%;right:0; font-size: 14px; color: #fff; cursor: pointer; margin-top: -45px;}
.pfu a{color: #fff;}
.pfu dl{width: 100%; float: left; text-align: center; margin-bottom: 1px;}
.pfu dt{width: 100%; height: 70px; float: left; background: #95c8e1;text-align: center; padding-top: 5px;}
.pfu dt img{margin: auto; width:35px; height: 30px; margin-top: 5px;}
.pfu dt p{line-height: 26px; height: 26px;}
.pfu .pfutel{position: relative;}
.pfu .pfutel dt{background: #ff8282;}
.pfu .pfutel dd{position: absolute; right:-200px; top:0; z-index: 99; width: 200px; height: 75px; background: #ff8282;  transition: all 0.5s;font-size:24px;}
.pfu .pfutel dd em{float: left; margin-top: 20px;font-size: 20px;}
.pfu .pfutel dd img{vertical-align: middle; margin:20px 4px 0 10px; float: left;}
.pfu .pfutel:hover dd{right:0;}	
.pfu .pfuwx{position: relative;}
.pfu .pfuwx dt{background: #78c9c9;}
.pfu .pfuwx dd{position: absolute; right:-200px; top:-10px; z-index: 99; width: 100px; height: 100px; background: #78c9c9; border-radius: 5px; transition: all 0.5s;}
.pfu .pfuwx dd img{vertical-align: middle; width: 80px; height: 80px; margin-top: 10px;}
.pfu .pfuwx:hover dd{right:75px; }