{include file="public/header" /}
<script charset="utf-8" src="__ADMIN__/myeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__ADMIN__/myeditor/lang/zh_CN.js"></script>

<div class="layui-layout layui-layout-admin">
    {include file="public/left" /}

    <div class="layui-body">
        <div class="layui-tab layui-tab-brief" lay-filter="tab">
            <ul class="layui-tab-title">
                <li ><a href="{:url('index',['pid'=>24,'ty'=>44])}">老师列表</a></li>
                <li class="layui-this"><a href="{:url('edit_community_advisory',['pid'=>24,'ty'=>44])}">老师编辑</a></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form action="" method="post" class="layui-form" lay-filter="content" id="edit">
                        <div class="layui-form-item">
                            <label class="layui-form-label">老师名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" value="{$info['name']}" placeholder="请输入老师名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">老师头像</label>
                            <div class="layui-input-inline">
                                <input type="text" name="avatar" id="img" value="{$info['avatar']}" placeholder="请上传配置图片"  class="layui-input">
                            </div>
                            <button type="button" id="img_btn" class="layui-btn" data-des="ico">
                                <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">职称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="job" value="{$info['job']}" placeholder="请输入职称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">组织</label>
                            <div class="layui-input-inline">
                                <input type="text" name="org" value="{$info['org']}" placeholder="请输入组织" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机号</label>
                            <div class="layui-input-inline">
                                <input type="number" name="tel" value="{$info['tel']}" placeholder="请输入手机号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">简介</label>
                            <div class="layui-input-inline">
                                <textarea name="desc" style="width:520px;height:100px;" class="layui-textarea">{$info['desc']}</textarea>
                            </div>
                        </div>

                        <input type="hidden" name="id" value="{$info['id']}">

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit>立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        KindEditor.ready(function(K) {
            var editor1 = K.create('.editor_id', {
                filterMode: false,//是否开启过滤模式
                cssPath : '__ADMIN__/myeditor/plugins/code/prettify.css',
                uploadJson : '__ADMIN__/myeditor/php/upload_json.php',
                fileManagerJson : '__ADMIN__/myeditor/php/file_manager_json.php',
                allowFileManager : true,
                afterBlur : function() {
                    this.sync();
                    K.ctrl(document, 13, function() {
                        K('form[name=formlist]')[0].submit();
                    });
                    K.ctrl(this.edit.doc, 13, function() {
                        K('form[name=formlist]')[0].submit();
                    });
                }
            });

            var editor = K.editor({
                allowFileManager : true
            });

            K('#img_btn').click(function() {
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            K('#image').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });
        });
    </script>

    {include file="public/footer" /}

</div>

</body>
</html>
