{include file="public/header" /}

<div class="container-fluid">
    <div class="content">
        <div class="title">联系我们</div>
        <ul class="lxwmtit1">
            <li>
                <img src="/public/static/images/lxwm_con1.png"/>
                <p>电话</p>
                <p><em>{:sys('sys_phone')}</em></p>
            </li>
            <li>
                <img src="/public/static/images/lxwm_con2.png"/>
                <p>传真</p>
                <p><em>{:sys('sys_test')}</em></p>
            </li>
            <li>
                <img src="/public/static/images/lxwm_con3.png"/>
                <p>邮箱</p>
                <p><em>{:sys('sys_email')}</em></p>
            </li>
            <li>
                <img src="/public/static/images/lxwm_con4.png"/>
                <p>地址</p>
                <p><em>{:sys('sys_address')}</em></p>
            </li>
        </ul>
        <div class="lxwmtit2">
            <iframe frameborder="0" width="1000" height="430" scrolling="no" src="/map.html"></iframe>
        </div>
    </div>
</div>

{include file="public/footer" /}