{include file="public/header" /}
<script charset="utf-8" src="__ADMIN__/myeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__ADMIN__/myeditor/lang/zh_CN.js"></script>

<div class="layui-layout layui-layout-admin">
	{include file="public/left" /}

	<div class="layui-body">
		<div class="layui-tab layui-tab-brief" lay-filter="tab">
			<ul class="layui-tab-title">
				<li><a href="{:url('index')}">客户管理</a></li>
				<li class="layui-this"><a href="#">客户详情</a></li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<form action="/admin/user/info" method="post" class="layui-form" lay-filter="content" id="edit">
						<div class="layui-form-item">
							<label class="layui-form-label">昵称</label>
							<div class="layui-input-inline">
								<input type="text" name="nick" value="{$info['nick']}" class="layui-input">
							</div>
						</div>

						<div class="layui-form-item">
							<label class="layui-form-label">手机</label>
							<div class="layui-input-inline">
								<input type="text" name="phone" value="{$info['phone']}" lay-verify="phone" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">关联微信号</label>
							<div class="layui-input-inline">
								<input type="text" name="wechat" value="{$info['wechat']}" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">状态</label>
							<div class="layui-input-block">
								<input type="radio" name="status" value="1" title="启用" {:get_my_checked($info['status'],1)}>
								<input type="radio" name="status" value="2" title="禁用" {:get_my_checked($info['status'],2)}>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">发表文章</label>
							<div class="layui-input-inline">
								<input readonly="readonly" type="text" name="publish_article_num" value="{$info['publish_post_num']}"
									class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">已做训练</label>
							<div class="layui-input-inline">
								<input readonly="readonly" type="text" name="do_question_num" value="{$info['do_question_num']}"
									class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">游戏正确率</label>
							<div class="layui-input-inline">
								<input readonly="readonly" type="text" name="game_accuracy" value="{$info['game_accuracy']}"
									class="layui-input">
							</div>
						</div>

						<input type="hidden" name="id" value="{$info['id']}">

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button type="button" class="layui-btn layui-btn-primary"
									onclick="location.href = '/admin/user/index/pid/17/ty/18'">返回</button>
								<button class="layui-btn" lay-submit>保存</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		KindEditor.ready(function (K) {
			var editor1 = K.create('.editor_id', {
				filterMode: false,//是否开启过滤模式
				cssPath: '__ADMIN__/myeditor/plugins/code/prettify.css',
				uploadJson: '__ADMIN__/myeditor/php/upload_json.php',
				fileManagerJson: '__ADMIN__/myeditor/php/file_manager_json.php',
				allowFileManager: true,
				afterBlur: function () {
					this.sync();
					K.ctrl(document, 13, function () {
						K('form[name=formlist]')[0].submit();
					});
					K.ctrl(this.edit.doc, 13, function () {
						K('form[name=formlist]')[0].submit();
					});
				}
			});

			var editor = K.editor({
				allowFileManager: true
			});

			K('#img_btn').click(function () {
				editor.loadPlugin('image', function () {
					editor.plugin.imageDialog({
						imageUrl: K('#img').val(),
						clickFn: function (url, title, width, height, border, align) {
							K('#img').val(url);
							editor.hideDialog();
						}
					});
				});
			});
		});

		$(function () {
			layui.use('form', function () {
				var form = layui.form;
				//监听提交
				form.on('submit(login)', function (data) {
					console.log(data);
					return false;
				});
			});
		})
	</script>

	{include file="public/footer" /}

</div>

</body>

</html>