{include file="Public/header" /}

<div class="layui-layout layui-layout-admin">
	{include file="Public/left" /}

	<div class="layui-body">
	<div class="layui-tab layui-tab-brief" lay-filter="tab">
		<ul class="layui-tab-title">
			<li ><a href="{:url('post/index')}">帖子列表</a></li>
			<li class="layui-this"><a href="{:url('index')}">评论列表</a></li>
		</ul>
		<div class="layui-tab-content">
			<blockquote class="layui-elem-quote">{$info['title']}</blockquote>

			<div class="layui-tab-item layui-show">
				<div class="layui-form-item">
					<label class="layui-form-label" style="text-align:left;">内容查找</label>
					<div class="layui-input-inline">
						<input type="text" name="kwd" id="kwd" style="width:200px;float:left;" value="{$kwd}" placeholder="请输入关键字" autocomplete="off" class="layui-input">
						<button type="button" class="layui-btn" style="float:left;margin-left:8px;" onclick="search()">查找</button>
					</div>
				</div>
				<table class="layui-table">
					<thead>
					<tr>
						<th>ID</th>
						<th>评价内容</th>
						<th>发布时间</th>
						<th>发布用户</th>
						<th>所属帖子</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					{volist name="list" id="v"}
						<tr>
							<td>{$v['id']}</td>
							<td>{$v['content']}</td>
							<td>{$v['created_at']}</td>
							<td>{$v['nick']}</td>
							<td>{$v['title']}</td>
							<td>
								<a href="{:url('del', ['id' => $v['id']])}" onclick='return confirm("您确定要删除吗？\n\n删除后不可恢复!")' class='layui-btn layui-btn-xs layui-btn-danger' title='删除'>删除</a>
							</td>
						</tr>
					{/volist}
					</tbody>
				</table>
				<div class="page">
					{$list->render()}
				</div>
			</div>
		</div>
	</div>
</div>

	{include file="Public/footer" /}

	<script>
		function search()
		{
			let url = location.href
			let index = url.indexOf('kwd')
			let kwd =  document.querySelector('#kwd').value
			if(index == -1)
			{
				location.href = url + '&kwd=' + kwd
			}else{
				url = url.replace(/page=.&/,'page=' + 1 + '&')
				url = url.replace(/kwd=.*/,'kwd=' + kwd)
				location.href = url
			}
		}

	</script>

</div>

</body>
</html>
